* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, Verdana, sans-serif;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
html::-webkit-scrollbar              { width: 10px; }
html::-webkit-scrollbar-track        { background: #3a3a3a; }
html::-webkit-scrollbar-thumb        { background: #B5B5B5; border-radius: 4px;}
html::-webkit-scrollbar-thumb:hover  { background: rgb(133, 133, 133); }

.header {
    height: 80px;
    background-color: #3a3a3a;
    position: fixed;
    width: 100%;
    z-index: 50;
    transition: height 0.3s ease 0s;
}
.header.mini {
    height: 50px;
} 
.container {
    max-width: 1269px;
    padding: 0 16px;
    margin: 0 auto;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.humberger {
  display: none;
}
.logo__box {
    background: #B5B5B5;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.logo__box:before {
    content: '';
    height: 100%;
    width: 400%;
    position: absolute;
    top: 0;
    left: -400%;
    background: #B5B5B5;
}
.logo__box:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -50px;
	border-bottom: 80px solid #B5B5B5; 
  border-right: 50px solid transparent;
  transition: 0.3s ease 0s;	
}
.header.mini .logo__box:after {
  right: -31.25px;
  border-bottom: 50px solid #B5B5B5; 
  border-right: 31.25px solid transparent;
}
.logo {
  margin-right: 10px;
}
.logo__2,
.close,
.library  {
  display: none;
}
.link {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.link a {
    font-size: 18px;
    color: white;
    transition: color 0.3s ease 0s;
}
.link a:hover {
    color: tomato;
}

@media (min-width: 1201px) {
  .drop__down {
      position: absolute;
      top: 60px;
      padding-top: 31px;
      max-height: 0px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease 0s;
      overflow: hidden;
      display: flex;
  }
  .drop__down:before {
    content: '';
    position: absolute;
    top: 16px;
    left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    transition: 0.2s ease 0s;
  }
  .drop__down.page:before {
    border-bottom: 15px solid lavender;
  }
  .header.mini .drop__down {
    padding-top: 16px;
  }
  .header.mini .drop__down:before {
    top: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid white;
  }
  .header.mini .drop__down.page:before {
    border-bottom: 11px solid lavender;
  }
  .link:hover .drop__down {
    max-height: unset;
    opacity: 1;
    visibility: visible;
    top: 20px;
  }
  .drop__links {
    background-color: white;
    padding: 27px 20px 20px;
  }
  .drop__links.page {
    background-color: lavender;
  }
  .title__box {
    display: none;
  }
}

.drop__links li {
  margin-bottom: 15px;
}
.drop__links li a {
  font-size: 18px;
  color: black;
  white-space: nowrap;
  transition: color 0.2s ease 0s;
}
.drop__links li a:hover {
  text-decoration: underline;
}
.links__2 {
  border-left: 1px solid #A5A5A5;
}
.links__2 li a {
  color: #420473;
}
.search__box form {
  width: 210px;
  height: 27px;
  position: relative;
}
.search__box .search__hover {
  display: none;
}
.search__box input {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  padding: 0 30px 0 5px;
  color: #8D8D8D;
  font-size: 18px;
}
.search__box button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 16px;
  padding: 4px 5px;
  color: black;
  border: none;
  outline: none;
  background: none;
  transition: color 0.3s ease 0s;
}
.search__box button:hover {
  color: tomato;
}

/*   header end   */

.wrapper {
  padding: 100px 0 50px;
  background-color: #280047;
  overflow: hidden;
  width: 100%;
}
.wrapper.white {
  background-color: white;
}
.slick {
  position: relative;
}
.slick .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease;
}
.slick .slick-arrow:after {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  z-index: 11;
}
.slick .slick-arrow:hover {
  opacity: 1;
}
.slick .slick-arrow.slick-prev {
  left: calc(-100% + -20px);
}
.slick .slick-arrow.slick-next {
  right: calc(-100% + -20px);
}
.slick .slick-arrow.slick-prev:after {
  right: -20px;
  background: url(../img/arrow_l.svg) 0 0 / 100% no-repeat;
}
.slick .slick-arrow.slick-next:after {
  left: -20px;
  background: url(../img/arrow_r.svg) 0 0 / 100% no-repeat;
}
.slick .slick-list {
  overflow: unset;
  margin: 0 -10px;
}
.slick .slick-slide {
  opacity: 0.5;
  transition: 0.2s ease;
  margin: 0 10px;
}
.slick .slick-slide.slick-center {
  opacity: 1;
}
.slick .slider__item img {
  width: 100%;
  max-height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.posts__box {
  padding-top: 40px;
}
.posts__box__3 {
  padding: 25px 0 80px;
}
.posts__box__3.page {
  padding: 25px 0 30px;
}
.category__title a {
  font-size: calc(14px + 16 * (100vw / 1269));
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease;
}
.category__title.page a {
  color: #3A3A3A;
}
.category__title a:hover {
  color: khaki;
}
.category__title.page a:hover {
  color: black;
}
.slick__class {
  margin: 15px 0 30px;
  position: relative;
}
.slick__class .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  outline: none;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease;
}
.slick__class .slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.slick__class .slick-arrow:hover {
  opacity: 1;
}
.slick__class .slick-arrow.slick-prev {
  left: -15px;
  background: url(../img/arrow_l.svg) 0 0 / 100% no-repeat;
}
.slick__class .slick-arrow.slick-next {
  right: -15px;
  background: url(../img/arrow_r.svg) 0 0 / 100% no-repeat;
}
.slick__class .slick-list {
  padding-top: 15px;
  margin: 0 -25px;
}
.slick__3 .slick-list {
  margin: 0 -10px;
  overflow: unset;
}
.slick__class .slick-slide {
  margin: 0 25px;
}
.slick__3 .slick-slide {
  margin: 0 10px;
}
.poster:focus {
  outline: none;
}
.poster__img {
  max-width: 207px;
  border-radius: 6px;
  position: relative;
  transition: 80ms;
  transform-origin:bottom center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.poster__img__2 {
  max-width: 295px;
}
.poster:hover .poster__img {
  transform: scale(1.045);
}
.poster__img img {
  width: 100%; 
  border-radius: 6px;
}
.poster:hover .poster__img img {
  opacity: 0.4;
}
.poster:hover .poster__img__2 img {
  opacity: 1;
}
.poster__properties {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 17px 9px;
  /* background: rgba(0, 0, 0, 0.7); */
  transition: 80ms;
  opacity: 0;
}
.poster:hover .poster__properties {
  opacity: 1;
}
.rating {
  font-size: 36px;
  line-height: 42px;
  color: #FFC700;
}
.stars {
  font-size: 20px;
  color: #FFC700;
  margin-bottom: 14px;
}
.poster__properties p {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 5px;
}
.view {
  width: 92px;
  height: 22px;
  line-height: 22px;
  background: #00C04D;
  border-radius: 31px;
  font-size: 17px;
  text-align: center;
  color: white;
  margin-top: 8px;
}
.view i {
  margin-right: 8px;
}
.poster__title {
  font-size: 18px;
  color: #fff;
  margin: 10px 0 5px;
  transition: 0.3s step-start;
  font-weight: 500;
}
.poster__title.page {
  color: #3A3A3A;
}
.poster:hover .poster__title {
  color: khaki;
}
.poster:hover .poster__title.page {
  color: black;
}
.poster__category {
  font-size: 16px;
  color: #7D8185;
  margin: 0 0 10px;
}

.footer__wrapper {
  background: #320059;
}
.nav__wrap {
  display: flex;
  justify-content: start;
  padding: 28px 0 20px;
}
.nav__column {
  margin-right: 90px;
}
.nav__column:last-child {
  margin-right: 0px;
}
.nav__title {
  font-size: 22px;
  color: white;
  margin-bottom: 5px;
}
.nav__main li {
  margin-top: 5px;
}
.nav__main li a {
  font-size: 16;
  color: #B7B7B7;
  transition: 0.3s ease;
}
.nav__main li a:hover {
  color: khaki;
}

.copyright {
  background: #332B5E;
}
.copyright__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.footer__logo {
  margin-right: 28px;
}
.footer__logo img {
  height: 29px;
}
.copyright__text {
  font-size: 14px;
  color: white;
  max-width: 500px;
}

.header__bar {
  margin: 20px 0 31px;
  color: #AAAAAA;
}
.header__bar.white {
  margin: 20px 0 25px;
  color: #AAAAAA;
}
.header__bar a {
  font-size: 16px;
  color: #AAAAAA;
  margin-right: 3px;
  transform: color 0.2s;
}
.header__bar a:hover,
.header__bar .active {
  color: white;
}
.header__bar.white a:hover,
.header__bar.white .active {
  color: black;
}
.catalog {
  color: white;
}
.catalog__title {
  font-size: calc(12px + 36 * (100vw / 1269));
}
.catalog__text {
  font-size: 18px;
  margin: 15px 0 27px;
}
.filter__box {
  position: relative;
  font-size: calc(12px + 18 * (100vw / 1269));
  display: inline-block;
}
.filter__box i {
  margin: 0 5px 0 10px;
  font-size: calc(9px + 13 * (100vw / 1269));
}
.filter__options {
  position: absolute;
  top: 99%;
  left: 0;
  background: #4B0086;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 27px 35px 12px;
  z-index: 15;
  transition: all 0.5s ease 0s;
  transform: perspective(600px) translate(0, -20%) rotateX(45deg);
  opacity: 0;
  visibility: hidden;
}
.filter__box:hover .filter__options {
  transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.option__container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.option__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  height: 10px;
  width: 10px;
  background: #C479FF;
}
.option__container:hover input ~ .checkmark {
  background-color: #ccc;
}
.option__container input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #2196F3;
}
.option__container input:checked ~ .checkmark:after {
  display: block;
}
.posts__2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin: 0 -25px;
}
.posts__2 .poster {
  margin: 0 25px 30px;
  flex: calc(100% / 5 - 50px);
  max-width: calc(100% / 5 - 50px);
}
.pagination {
  text-align: center;
}
.pagination a {
  display: inline-block;
  font-size: 18px;
  color: #343434;
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 45px;
  height: 40px;
  line-height: 40px;
  transition: 0.2s ease;
}
.pagination a:hover,
.pagination a.active {
  background-color: #8F00FF;
  color: #FFFFFF;
}

.movie__box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 70px;
}
.description__box {
  display: flex;
  margin-bottom: 55px;
}
.movie__img {
  max-width: 285px;
  margin-right: 73px;
}
.description {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}
.rating__2 {
  font-size: 36px;
  color: #FFC700;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.stars__2 {
  display: flex;
  align-items: center;
  margin-left: 11px;
}
.stars__2 i {
  color: #C1C1C1;
  font-size: 18px;
  transition: 0.3s ease;
}
.stars__2 i:hover {
  color: #FFC700;
}
.view__2 {
  background: #00C04D;
  font-size: 17;
  font-weight: 500;
  height: 22px;
  line-height: 22px;
  width: 92px;
  border-radius: 31px;
  text-align: center;
  margin: 10px 0;
}
.view__2 i {
  margin-right: 8px;
}
.movie__year {
  font-size: 18px;
}
.movie__title {
  font-size: calc(15px + 21 * (100vw / 1269));
  font-weight: 500;
  margin: 20px 0 25px;
}
.y18 {
  position: relative;
}
.y18:after {
  position: absolute;
  top: 5px;
  content: '18+';
  font-size: 18px;
  font-weight: 500;
  color: red;
}
.movie__text {
  font-size: 18px;
}

.video__container {
  width: 100%;
  max-width: 1078px;
  margin: 0 auto;
}
.video__header {
  height: 52px;
  background: #2F2F2F;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 0 16px;
}
.video__header.series {
  justify-content: space-between;
}
.btn__video {
  background: none;
  border: 1px solid #FFFFFF;
  outline: none;
  padding: 6px 35px;
  transition: 0.2s ease;
  margin-left: 15px;
  color: white;
  cursor: pointer;
}
.left__btns .btn__video {
  margin: 0 5px 0 0;
  padding: 6px 20px;
}
.btn__video.active,
.btn__video:hover {
  background: #5B5B5B;
}
.video__box {
  height: calc(100vh - 100px);
  max-height: 539px;
  width: 100%;
  overflow: hidden;
}
.video__box video {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #000;
}
.episodes {
  margin: 0 1px;
}
.episodes button {
  background: #696969;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding: 9px 13.8px;
  margin: 1px -1px;
  cursor: pointer;
}

.comments__box {
  color: white;
}
.comments__box.black {
  color: black;
}
.com__title {
  font-size: calc(12px + 18 * (100vw / 1269));
  margin-bottom: 30px;
}
.comment {
  display: flex;
  margin-bottom: 20px;
}
.com__img {
  margin-right: 24px;
  flex: 0 0 75px;
}
.com__img img {
  width: 100%;
}
.com__name {
  font-weight: 500;
  font-size: 18px;
}
.com__text {
  font-size: 18px;
  color: #E0E0E0;
  margin: 7px 0 10px;
}
.com__text.page {
  color: #232323;
}
.com__answer {
  color: #C6C6C6;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.com__answer.page {
  color: #0075FF;
}

.add__comments {
  display: block;
  max-width: 1040px;
  margin: 0 auto;
}
.add__com__title {
  font-size: calc(12px + 12 * (100vw / 1269));
  margin-bottom: 15px;
}
.com__form {
  width: 100%;
}
.com__form input {
  width: 199px;
  height: 32px;
  line-height: 32px;
  background: #F1F1F1;
  border: none;
  font-size: 18px;
  padding: 0 10px;
}
.com__form.page input {
  background: #F1F1F1;
  border: 1px solid #000000;
}
.com__form textarea {
  width: 100%;
  height: 70px;
  margin: 13px 0 12px;
  font-size: 18px;
  padding: 5px 10px;
}
.com__form.page textarea {
  background: #F1F1F1;
  border: 1px solid #000000;
}
.com__form button {
  background: #0075FF;
  border: 1px solid #000000;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  transition: 150ms ease;
  transform-origin:bottom center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
}
.com__form button:hover {
  transform: scale(1.045);
}

.title__box {
  color: #181818;
  font-size: calc(14px + 22 * (100vw / 1269));
  font-weight: 500;
  margin-bottom: 15px;
}
.title__box.page {
  color: #fff;
}
.posts__box__4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
}
.poster__4 {
  width: calc(100% / 4 - 28px);
  margin: 0 14px 40px;
  position: relative;
}
.poster__4:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.img__4 {
  max-width: 289px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #8D8D8D;
  position: relative;
}
.img__4.tv {
  border-radius: 0px;
}
.img__4 img {
  width: 100%;
  display: block;
}
.video__time {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 1px 10px 1px 5px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}
.title__4 {
  font-size: 16px;
  color: black;
  margin: 5px 0 6px;
  transition: 0.2s ease;
}
.tv__title {
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-top: 5px;
}
.tv__title .red {
  color: red;
}
.poster__4:hover .title__4 {
  color: #320059;
}
.properties__4 {
  font-weight: 300;
  font-size: 14px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: center;
}
.properties__4 p i {
  margin: 5px;
}

.video__name__box {
  margin-top: 25px;
  color: #000;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.video__name {
  font-size: calc(12px + 18 * (100vw / 1269));
  margin: 0 30px 8px 0;
}
.video__like {
  font-size: calc(12px + 18 * (100vw / 1269));
  margin-bottom: 8px;
}
.video__like i {
  margin-left: 30px;
}
.video__like i:first-child {
  margin-left: 0px;
}
.video__like .active,
.video__like i:hover {
  color: #0066FF;
}
.video__view {
  font-weight: 300;
  margin-bottom: 8px;
}
.video__view i {
  margin: 0 15px 0 30px ;
}
.video__genre {
  width: 100%;
}
